<ion-view title="Sobre" id="page5" style="background-color:#2E4A8D;">
    <ion-content padding="true" class="has-header">
        <h3 id="sobre-heading1" style="color:#0CCCF6;text-align:center;">Desenvolvedor</h3>
        <div class="spacer" style="width: 283px; height: 39px;"></div>
        <div>
            <img src="img/k8uuiRD2TaOUVGf489L5_18755893" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="sobre-heading2" style="color:#0CCCF6;text-align:center;">William</h3>
        <div id="sobre-markdown1" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="button-bar">
            <a href="#" onclick="window.open('http://www.mariogames.be/', '_system', 'location=yes'); return false;" id="sobre-button6" class="button button-calm  button-block icon ion-earth"></a>
            <a href="#" onclick="window.open('http://www.gmail.com', '_system', 'location=yes'); return false;" id="sobre-button7" class="button button-assertive  button-block icon ion-android-mail"></a>
            <a href="#" onclick="window.open('https://github.com/williamdrc', '_system', 'location=yes'); return false;" id="sobre-button3" class="button button-stable  button-block icon ion-social-github"></a>
            <a href="#" onclick="window.open('https://www.facebook.com/profile.php?id=1818070098', '_system', 'location=yes'); return false;" id="sobre-button4" class="button button-positive  button-block icon ion-social-facebook"></a>
            <a href="#" onclick="window.open('https://twitter.com/?lang=pt-br', '_system', 'location=yes'); return false;" id="sobre-button5" class="button button-balanced  button-block icon ion-social-twitter"></a>
        </div>
    </ion-content>
</ion-view>